.container {
  padding: 100px;
  background-color: #eb6565;
  color: white;
  overflow: auto;
  text-align: justify;
  font-size: 18px;
}

.container-dark {
  padding: 100px;
  background-color: #666;
  color: #000;
  overflow: auto;
  text-align: justify;
  font-size: 18px;
}

.left-part {
  width: 50%;
  float: left;
}
  
.rigth-part {
  padding-top: 100px;
  width: 50%;
  float: right;
}

.overview-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#git-img {
  height: 200px;
  width: 400px;
}

#css-img {
  height: 400px;
  width: 300px;
}

#html-img {
  height: 400px;
  width: 400px;
}

#node-img {
  height: 300px;
  width: 350px;
}

#npm-img {
  height: 150px;
  width: 300px;
}

#vcs-img {
  height: 350px;
  width: 500px;
}
