.left-part {
  width: 50%;
  float: left;
}
  
.rigth-part {
  padding-top: 100px;
  width: 50%;
  float: right;
}

.overview-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#git-img {
  height: 200px;
  width: 400px;
}

#css-img {
  height: 400px;
  width: 300px;
}

#html-img {
  height: 400px;
  width: 400px;
}

#node-img {
  height: 300px;
  width: 350px;
}

#npm-img {
  height: 150px;
  width: 300px;
}

#vcs-img {
  height: 350px;
  width: 500px;
}
.container {
  padding: 100px;
}
