.footer {
    overflow: auto;
    background-color: #fff;
  }
  
  .footer-nav {
    float: right;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    padding-left: 0px;
  }
  
  .footer-nav-item {
    padding-left: 25px;
    display: inline;
    color: #212121;
  }
  
  .footer-link {
    color: #212121;
    text-decoration: none;
  }
  
  .footer-nav-item:hover, .footer-link:hover {
    color: #ff837b;
  }
  
  