.container {
  padding: 100px;
  background-color: #eb6565;
  color: white;
  overflow: auto;
  text-align: justify;
  font-size: 18px;
}

.container-dark {
  padding: 100px;
  background-color: #666;
  color: #000;
  overflow: auto;
  text-align: justify;
  font-size: 18px;
}

.left-part {
  width: 50%;
  float: left;
}
  
.rigth-part {
  padding-top: 100px;
  width: 50%;
  float: right;
}

.overview-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  width: 300px;
}

.article-button {
  border: none;
  padding: 10px;
  border-radius: 25px;
  margin-top: 25px;
  margin: 25px 0;
  font-size: 16px;
  font-weight: 600;
}
