
.header {
  overflow: hidden;
  border-radius: 25px 25px 0 0;
  padding-top: 15px;
}
  
.header-title {
  padding-left: 100px;
  float: left;
}
  
.nav-header {
  padding-top: 20px;
  padding-right: 100px;
  float: right;
  list-style-type: none;
}
  
.nav-item {
  display: inline-block;
  padding: 0 50px 0 0;
}
  
.nav-item:last-child {
  padding: 0;
}
  
.nav-link {
  font-size: 18px;
  display: block;
  text-decoration: none;
}