
.header {
    overflow: hidden;
    background-color: #ff837b;
    border-radius: 25px 25px 0 0;
    padding-top: 15px;
  }
  
  .header-title {
    padding-left: 100px;
    float: left;
    color: #fff;
  }
  
  .nav-header {
    padding-top: 20px;
    padding-right: 100px;
    float: right;
    list-style-type: none;
  }
  
  .nav-item {
    display: inline-block;
    padding: 0 50px 0 0;
  }
  
  .nav-item:last-child {
    padding: 0;
  }
  
  .nav-link {
    font-size: 18px;
    display: block;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover{
    color: black;
  }
  