* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 35px;
  font-family: 'Titillium Web', sans-serif;
}

#page {
  background-color: #ffe3e0;
  border-radius: 15px;
  padding: 75px 75px 0;
}

.container {
  background-color: #ff837b;
  color:#fff;
  overflow: auto;
  padding:  0 100px 0 100px;
  text-align: justify;
  font-size: 18px;
} 
