* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 35px;
  font-family: 'Titillium Web', sans-serif;
}

#page {
  background-color:#ff9999;
  border-radius: 15px;
  padding: 75px 75px 0;
}

.container {
  overflow: auto;
  text-align: justify;
  font-size: 18px;
} 

.language-button {
  margin: 5px;
  padding: 5px;
  float: right;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.themeButton {
  margin: 5px;
  padding: 5px;
  float: right;
  border-radius: 5px;
}
