.table {
    margin-top:5px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
  
tr, th, td {
    height: 50px;
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
}

.table-link{
    color : #fff;
    text-decoration: none;
}
  
.table-link:hover {
    text-decoration: underline;
}

.table-link-dark {
    color : #000;
    text-decoration: none;
}

.loader {
    height: 120px;
    width: 120px;
}